.additional-info {
  margin: 0 auto;
}


.additional-info__top-section {
  display: flex;
  justify-content: center;
  gap: 6%;
  padding: 5%;
}

.additional-info__mid-section,
.additional-info__bot-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  background-color: #1C172E;
  color: white;
  gap: 45px;
}

.additional-info__bot-section {
  background-color: #231E36;
}

.bot-section__player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player__title {
  color: white;
  font-size: 1.5em;
  margin-top: 0;
}

.mid-section__text-title {
  font-size: 1.5em;
  margin: 0;
}

.mid-section__text {
  margin: 0;
  line-height: 1.6em;
  width: 80%;
}

.top-section__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img-wrapper__img {
  display: block;
  height: 500px;
}


.top-section__text-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  background: #1C172E;
  border-radius: 18px;
  padding: 20px 25px 0 25px;
  width: 50%;
}

.text-wrapper__title {
  margin: 0 10px 0 0;
  font-size: 1.5em;
}

.text-wrapper__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  line-height: 25px;

}

.text-wrapper__item:last-child {
  width: 100%;
  position: relative;
}

.item__content:nth-child(2) {
  padding-left: 120px;
}

.item__content:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

.additional-info__back-btn {
  width: 5.5em;
  height: 2em;
  border: 0;
  background-color: #1C172E;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  top: 30%;
  right: 20%;
  color: white;
  background-image: linear-gradient(90deg, rgb(105, 4, 163) 0%, rgb(105, 4, 163) 40%, rgb(172, 20, 151) 50%, rgb(172, 20, 151) 55%, rgb(105, 4, 163) 65%, rgb(105, 4, 163) 100%);
  background-size: 400%;
  animation: animate 2s infinite;
}

@keyframes animate {
  from { background-position: 100%; }
  to { background-position: 0% ; }
}

.additional-info__back-btn:hover {
  color: white;
  box-shadow: 0px 5px 10px 2px rgba(172, 20, 151, 0.445), 0px -5px 10px 2px rgba(209, 12, 183, 0.527);
}

.video {
  width: 750px;
  height: 400px;
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

@media (max-width: 1080px) {
  .additional-info__top-section {
    gap: 3%;
  }

  .top-section__img-wrapper {
    display: none;
  }

  .top-section__text-wrapper {
    width: 70%;
  }
}

@media (max-width: 835px) {
  .mid-section__text {
    width: 90%;
  }

  .video {
    width: 300px;
    height: 160px;
  }
}

@media (max-width: 768px) {

  .additional-info__back-btn {
    width: 5.5em;
    height: 2em;
    padding: 5px;
    font-size: small;
  }

  .text-wrapper__title,
  .mid-section__text-title,
  .player__title {
    font-size: 18px;
  }

  .top-section__text-wrapper,
  .mid-section__text {
    font-size: 14px;
  }

}

