.additional-info {
  margin: 0 auto;
  animation: modal-show .3s ease;
}

.additional-info__top-section {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 2em 5%;
}

.text-wrapper__description {
  margin: 0;
  line-height: 1.6em;
  width: 95%;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.top-section__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img-wrapper__img {
  display: block;
  width: 34vw;
  object-fit: contain;
  height: 76vh;
}


.top-section__text-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  background: #1C172E;
  padding: 1.2em;
  width: 50%;
  border-radius: 12px;
}

.text-wrapper__title {
  margin: 0 1em 1em 0;
  font-size: 1.5em;
}

.text-wrapper__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 3.5em;
  line-height: 25px;
  margin: .2em 0;

}

.text-wrapper__item:last-child {
  width: 100%;
  position: relative;
}

.item__content {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.item__content:nth-child(2) {
  padding-left: 120px;
}

.item__content:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes animate {
  from { background-position: 100%; }
  to { background-position: 0% ; }
}

.additional-info__back-btn:hover {
  color: white;
  box-shadow: 0px 5px 10px 2px rgba(172, 20, 151, 0.445), 0px -5px 10px 2px rgba(209, 12, 183, 0.527);
}

.video {
  width: 750px;
  height: 400px;
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

@media (max-width: 1080px) {
  .top-section__text-wrapper {
    width: 75%;
  }
}

@media (max-width: 1008px) {
  .img-wrapper__img {
    display: block;
    width: 34vw;
    object-fit: cover;
    height: 76vh;
  }
}

@media (max-width: 835px) {
  .mid-section__text {
    width: 90%;
  }
}

@media (max-width: 810px) {
  .additional-info__top-section {
    align-items: center;
    flex-direction: column;
  }

  .img-wrapper__img {
    display: none;
  }

  .text-wrapper__title,
  .mid-section__text-title,
  .player__title {
    font-size: 18px;
  }

}

