.details {
  display: flex;
  place-items: center;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  animation: modal-show .3s ease;
}

.details__top-section {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 2em 0;
  width: 100%;
  position: relative;
}

.close-btn {
  width: 2em;
  height: 2em;
  position: absolute;
  transform: rotate(45deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  left: 94%;
  top: 4%;
  border-radius: 50%;
  overflow: hidden;
}

.close-btn span {
  display: block;
  position: absolute;
  height: 0.2em;
  width: 100%;
  background: #fff;
  border-radius: 40%;
  opacity: 1;
  left: 0;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.close-btn:hover span {
  background: #f71fe6;
}

.close-btn:active span{
  background: #000;
}

.close-btn span:nth-child(1) {
  top: calc(50% - 0.2em);
  left:0;
}

.close-btn span:nth-child(2){
  left: 0;
  top: calc(50% - 0.2em);
  left: 0;
  transform: rotate(90deg);
}

@keyframes close-btn-line1-animate {
  from {left: 0;}
  to {left: -60px;}
}

.line1-broke {
  animation: close-btn-line1-animate .4s ease;
}

@keyframes close-btn-line2-animate {
  from {top: 0;}
  to {top: -60px;}
}

.line2-broke {
  animation: close-btn-line2-animate .4s ease;
}

.text-wrapper__description {
  margin: 0;
  line-height: 1.6em;
  width: 95%;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.top-section__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
}

.img-wrapper__img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}


.top-section__text-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  background: #1C172E;
  padding: 1.2em;
  width: 50%;
  border-radius: 12px;
}

.text-wrapper__title {
  margin: 0 1em 1em 0;
  font-size: 1.5em;
}

.text-wrapper__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 3.5em;
  line-height: 25px;
  margin: .2em 0;

}

.text-wrapper__item:last-child {
  width: 100%;
  position: relative;
}

.item__content {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.item__content:nth-child(2) {
  padding-left: 120px;
}

.item__content:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes animate {
  from { background-position: 100%; }
  to { background-position: 0% ; }
}

.details__back-btn:hover {
  color: white;
  box-shadow: 0px 5px 10px 2px rgba(172, 20, 151, 0.445), 0px -5px 10px 2px rgba(209, 12, 183, 0.527);
}

.video {
  width: 750px;
  height: 400px;
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

@media (max-width: 1008px) {
  .img-wrapper__img {
    display: block;
    width: 34vw;
    object-fit: cover;
    height: 76vh;
  }
}

@media (max-width: 880px) {
  .details__top-section {
    align-items: center;
    flex-direction: column;
  }

  .top-section__text-wrapper {
    width: 80%;
  }

  .img-wrapper__img {
    display: none;
  }

  .text-wrapper__title,
  .mid-section__text-title,
  .player__title {
    font-size: 18px;
  }

}

@media (max-width: 568px) {
  .close-btn {
    left: 88%;
    top: 3%;
  }
}
@media (max-width: 375px) {
  .details__top-section {
    padding: 0;
    display: block;
    height: 100%;
  }

  .top-section__text-wrapper {
    height: 100%;
    width: calc(100% - 2.4em);
    border-radius: unset;
  }

  .text-wrapper__description {
    display: block;
    overflow: auto;
  }

  .close-btn {
    top: 1%;
  }
}
