.bot-section__facts-list {
  padding: 0 20px;
}

details {
  padding: .5em .5em 0;
  transition: .4s;
  border: 2px solid white;
  border-radius: 10px;

}

summary {
  margin: -.5em -.5em 0;
  padding: .5em;
  color: white;
  font-size: 1.5em;
}

summary:hover {
  cursor: pointer;
}

details[open] {
  border: 0;
  padding: .5em;
  animation: slide .4s ease-in-out;
}

@keyframes slide {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}

.facts-list__item {
  margin-bottom: .5em;
  color: #BCB8CC;
}

@media (max-width: 768px) {
  summary {
    font-size: 18px;
  }
}