.header {
  background-color: #1C172E;
}

.form-wrapper {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C172E;
  gap: 50px;
  padding: 0 2em;
  margin: 0 auto;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  position: relative;
  margin: 50px auto;
  width: 200px;
}

.input-wrapper input {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  color: #ffeefe;
}

.input-wrapper .input-wrapper__label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-wrapper input:focus ~ .input-wrapper__label,
.input-wrapper input:valid ~ .input-wrapper__label {
  top: -20px;
  font-size: 16px;
  color: #f71fe6;
}

.input-wrapper .input-wrapper__underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #f71fe6;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-wrapper input:focus ~ .input-wrapper__underline,
.input-wrapper input:valid ~ .input-wrapper__underline {
  transform: scaleX(1);
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo {
  color: #f71fe6;
  width: 160px;
}

@media (max-width: 768px) {
  .logo {
    font-size: 1.2em;
    width: 100px;
  }
}

@media (max-width: 570px) {
  .form-wrapper {
    flex-direction: column;
    gap: 0;
  }

  .input-wrapper input {
    text-align: center;
  }

  .logo-wrapper {
    margin-top: 1em;
  }

  .input-wrapper .input-wrapper__label {
    left: calc(50% - 67px);
  }
}
