.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #000000e3;

}

@keyframes modal-show {
  from {
    transform: translate(0px, -10%);
    opacity: 0;

  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.exit {
  animation: exit .3s ease;
}

@keyframes exit {
  from {opacity: 1;}
  to {opacity: 0;}
}

